<div class="container">
	<div class="row">
		<h1 class="display-4 m-b-2">About Us</h1>
      	<p>Way back in the day, we remember a game called the Imaginary Wrestling Association. You created your own wrestler, chose from a list of moves, and challenged opponents for the pittance of one dollar. We here in the Crimson Cobra Elite decided to make this game a little more modern but still maintain the fun and simplicity of the original.</p>
      	<p>The concept is simple. HQ presents you a mission. Each mission has certain unique variables: weather, terrain, and location. You then build out a roster of weapons and actions that best fit.</p>
      	<p>Things to keep in mind:
      		<ul>
      			<li>Each deck must contain 10 actions</li>
      			<li>Each action has a randomly assigned value</li>
      			<li>Each action has a bonus (+/-) associated with a mission</li>
      			<li>If your action value, with bonus, defeats your opponent's, you win that round</li>
      			<li>Winner is decided by number of rounds won OR...</li>
      			<li>Win four rounds in a row, and you've forced your opponent to retreat</li>
      		</ul>
      	</p>
      	<p>We encourage you to sign up and challenge your friends and rivals. Coming soon we'll have tournaments where you too can win fabulous imaginary prizes.</p><a href="#!/login" class="btn btn-info-outline btn-lg m-t-1">Get Started</a>
	</div>
</div>