<div class="container">
	<div class="row">
		<h1 class="display-4 m-b-2">About Us</h1>
      	<p>Way back in the day, we remember a game called the Imaginary Wrestling Association. You created your own wrestler, chose from a list of moves, and challenged opponents for the pittance of one dollar. We here in the Crimson Cobra Elite decided to make this game a little more modern but still maintain the fun and simplicity of the original.</p>
      	<p>We encourage you to sign up and challenge your friends and rivals. Coming soon we'll have tournaments where you too can win fabulous imaginary prizes.</p><a href="/login" class="btn btn-info-outline btn-lg m-t-1">Get Started for FREE</a>
	</div>
</div>