<div class="container">
	<p>Remember your mission details? Don't worry. You have a lot to think about. We'll remind you!</p>
	<h4>Op Name: {{vm.title}}</h4>
	<p><strong>Details:</strong> {{vm.story}}</p>
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<div class="panel panel-primary">
		        <div class="panel-heading">
		            <h3 class="panel-title">Build Your Action Roster</h3>
		        </div>
		        <div class="panel-body">
		            <div class="col-sm-6" ng-repeat="action in vm.actions track by $index">
		                <div class="card action-item" ng-class="{ 'alert-danger disable alert' : vm.deck.indexOf(action) !== -1 }">
		                	<!-- <div class="card action-item" ng-click="vm.open()"> -->
		                    <div class="card-block">
		                        <div class="card-text">
		                        	<i ng-if="vm.deck.indexOf(action) === -1" ng-class="{ 'fa fa-check-square-o left action-item' : vm.deck.indexOf(action) !== -1, 'fa fa-square-o left action-item' : vm.deck.indexOf(action) === -1 }" ng-click="vm.addToDeck(action)" aria-hidden="true"></i>
		                        	<i ng-if="vm.deck.indexOf(action) !== -1" ng-class="{ 'fa fa-check-square-o left action-item' : vm.deck.indexOf(action) !== -1, 'fa fa-square-o left action-item' : vm.deck.indexOf(action) === -1 }" ng-click="vm.remove(vm.deck.indexOf(action))" aria-hidden="true"></i>
		                        	<i class="fa fa-file-text-o right" ng-click="vm.open(action)" aria-hidden="true"></i>
		                            {{action.name}}
		                        </div>
		                        
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="panel panel-primary">
		        <div class="panel-heading">
		            <h3 class="panel-title">Total moves: {{vm.deck.length}}</h3>
		        </div>
		        <div class="panel-body">
		            <h5 class="error" ng-hide="vm.error == null">{{vm.error}}</h5>
		            <div class="col">
		                <div class="bs-component">
		                    <ul class="list-group">
		                        <li class="list-group-item" ng-repeat="item in vm.deck track by $index" ng-class="{ 'alert-danger' : $odd }">
		                            <i class="fa fa-trash-o action-item" aria-hidden="true" ng-click="vm.remove($index)"></i><span class="badge">{{$index + 1}}</span> {{item.name}}
		                        </li>
		                    </ul>
		                    <button class="btn btn-primary" ng-click="vm.updateOrCreateDeck()">Submit</button>
		                    <button class="btn btn-primary" confirmed-click="vm.clear()" ng-confirm-click="Are you sure you wish to clear these actions?">Clear</button>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="modalContent.html">
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">{{item.name}}</h3>
	</div>
	<div class="modal-body" id="modal-body">
		{{item.description}}
	</div>
	<div class="modal-footer">
	<button class="btn btn-primary" ng-click="close()">Close</button>
	</div>
</script>