
/* Base Styles */

body {
	font-family: 'odon_wfregular';
	/*font-family: 'old_school_adventuresregular';*/
}

.h2 {
	margin-top: 20px;
}

a:hover {
	color: rgba(49,176,213, .7);
}

.logo {
	height: 20px;
	top: 10px;
}

.icon, .left {
	float: left;
}

/* used to display icons on profile page side by side */
.iconbox {
	height: 128px;
	padding: 20px;
}

.iconbox > div {
	text-align: center;
	width: 128px;
	float: left;
}

.iconbox p {
	margin: 0;
}

/* Classes for Deck page */
.action-item {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(22, 55, 82, 0.17);
	/*background-color: rgba(240, 238, 235, 0.25);*/
	margin: 1px;
	font-size: .85em;
}

.action-item:hover {
	background-color: rgba(22, 52, 252, 0.1);
}

.highlight {
	color: rgba(166, 3, 11, 0.7);
}

.disable {
  /*pointer-events: none;*/

  /* for "disabled" effect */
  opacity: 0.8;
  /*background: #CCC;*/
}

.pointer {
	cursor: pointer;
}

.right {
	float: right;
}

span.deck-item {
	padding-left: 14px;
}

span.deck-item-offset {
	padding-left: 30px;
}

span.pad-item {
	margin-left: 5px;
}

/* Classes for match */

table.center, .table-header {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }

.container-heading {
	margin-top: 20px;
}

.error {
	color: red;
	text-decoration: bold;
}

div.card {
	margin-bottom: 20px;
	padding: 10px;
}

.col-sm-6.col-md-4.col-lg-3 {
    margin: 10px 0px;
}

.deck-row-selected {
	color: red;
}

/* Classes for Mission */
.mission-btn-div, .register {
	margin-top: 20px;
} 

.marker, .marker-player {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.marker {
	background-image: url('../images/target-200.png');
}

.marker-player {
	background-image: url('../images/soldier.png');
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/*#map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }*/

.admin-form {
	width: 50%;
}

th {
	cursor: pointer;
}